<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='calc_style.css') }}">
    <title>Calculator</title>
</head>

<body>
    <br><br><br><br><br><br> {% block answer %}{% endblock %}
    <div id="calc">
        <form action="../calc_submit">
            <input type="number" name="a" id="a" placeholder="#">
            <select name="operator" id="operator">
                <option value="add">+</option>
                <option value="sub">-</option>
                <option value="mult">*</option>
                <option value="div">/</option>
            </select>
            <input type="number" name="b" id="a" placeholder="#">
            <br>
            <button>Solve</button>
        </form>
    </div>
</body>

</html>